<%= link_to 'Add New Category', new_category_path, remote: true, class: "btn btn-primary btn-xs" %>
<div class="add-category"></div>
<!DOCTYPE html>
<html>
<head>
  <title></title>
    
</head>
<body>
  <center>
    <h1> Product Catogery </h1>
  </center>
  <table class="table table-striped">

    <thead>
      <tr >
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody class="categories-listing">
      <% @categories.each do |c| %>
        <%= render partial: 'category', locals: {category: c }%>
      <% end %>
    </tbody>
  </table>
</body>
</html>
