<%= link_to 'Add New Category', new_category_path, remote: true, class: "btn btn-primary btn-xs" %>
<div class="add-category"></div>
<!DOCTYPE html>
<html>
<head>
  <title></title>
    <style>
      th, td {border: 2px solid blue; 
              border-collapse: collapse;}
    </style>
</head>
<body>
  <center>
    <h1> Product Catogery </h1>
  </center>
  <table style="padding: 2px; text-align: center; 
            width: 100%; border: 2px solid blue; 
            border-collapse: collapse;"
            class="d">

    <thead style="text-align: center;">
      <tr >
        <th>Name</th>
        <th>Edit Details</th>
      </tr>
    </thead>

    <tbody class="categories-listing">
      <% @categories.each do |c| %>
        <%= render partial: 'category', locals: {category: c }%>
      <% end %>
    </tbody>
  </table>
</body>
</html>
