<div class="modal-dialog modal-lg" style="background-color: white;">
  <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
     <h3 id="myModalLabel" ><span class="glyphicon glyphicon-shopping-cart"></span> How to Order</h3>
   </div>
   <div class="modal-body">
    <p><b>Please Follow the Instruction</b></p>
     <ul>
       <li>First Sign Up OR Login to OneShop</li>
       <li>Visit the product detail page for an item you wish to buy</li>
       <li>Tap Add to Cart.</li>
       <li>When you've finished adding items to your cart, tap the Shopping Cart icon.</li>
       <li>If you need to edit the items in your Cart, tap Save for later or Delete next to the item in the Cart.</li>
     </ul>
   </div>
   <div class="modal-footer">
     <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   </div>
</div>



